{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Your Future Wardrobe, Assembled</h2>
    <p>
        What's in your cart?
    </p>
    {% if cart_items %}
        <p><strong>Total Items:</strong> {{ cart_count }}</p>
        <table class="table align-middle">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Size</th>
                    <th scope="col">Qt.</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>
                        <span class="d-none d-md-inline">{{ item.product.name|truncatewords:6 }}</span>
                        <span class="d-inline d-md-none">{{ item.product.name|truncatewords:3 }}</span>
                    </td>
                    <td>
                        {% if item.image_url %}
                            <img src="{{ item.image_url }}" alt="{{ item.color.name }}" style="width:35px; height:35px;">    
                        {% elif item.color %}
                            {{ item.color.name }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if item.size %}
                            <strong>{{ item.size.name }}</strong>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        x <strong>{{ item.quantity }}</strong>
                    </td>
                    <td>{{ item.price|floatformat:2 }}€</td>
                    <td>
                        {% if item.key %}
                            <form method="post" action="{% url 'remove_from_cart' item.key %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm" title="Remove">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}                
            </tbody>
        </table>
        <div class="text-end">
            <h4>Total: <span class="fw-bold">{{ cart_total|floatformat:2  }}€</span></h4>
            <a href="{% url 'checkout' %}" class="btn call-action px-4 py-2 fw-semibold">
                Proceed to Checkout
            </a>
        </div>      
            
        
    {% else %}
        <p>
            Your cart is emptier than your motivation on a Monday morning.
            (Go ahead, fill it up. We won't judge.)
        </p>
        <div class="text-center mt-4">
            <a href="{% url 'products_list' %}" class="btn btn-dark px-4 py-2 fw-semibold">
                Back to Shop
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}