{% load static %}
<nav class="navbar navbar-expand-md navbar-light shadow-sm sticky-top py-2">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/bt_logo_nobg.png' %}" class="me-2 align-middle navbar-logo" alt="Logo BluntTee">
        </a>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-cog fa-lg"></i>
        </button>
        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Center: Search bar -->
            <form class="search-bar d-flex mx-auto flex-grow-1" method="get" action="{% url 'products_list' %}">
                <input class="form-control rounded-pill px-4 my-3" type="search" name="q" placeholder="Search for designs, artists, products..." aria-label="Search" value="{{ request.GET.q }}">
                <button class="btn btn-link ms-n5 my-3" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <!-- Right: Icons and Sign Up -->
            <div class="d-flex align-items-center ms-auto">
                <!-- Wishlist -->
                <a href="{% url 'wishlist' %}" class="btn btn-link text-black position-relative me-2" title="Wishlist">
                    <i class="far fa-heart fa-lg"></i>
                    {% if user.is_authenticated %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size:0.7em;">
                            {{ user.wishlist.items.count|default:"0" }}
                        </span>
                    {% else %}
                    {% endif %}
                </a>
                <!-- Cart -->
                <a href="#" class="btn btn-link text-black position-relative me-2" title="Cart">
                    <i class="fas fa-shopping-cart fa-lg"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark" style="font-size:0.7em;">0</span>
                </a>
                <!-- Account -->
                {% if user.is_authenticated %}
                    <a href="{% url 'user_profile' %}" class="btn btn-link text-success me-2" title="Account">
                        <i class="fas fa-user-check fa-lg"></i>
                    </a>
                    <a href="{% url 'account_logout' %}" class="btn call-action rounded-pill px-4 fw-semibold ms-2">Logout</a>
                {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-link text-text-black me-2" title="Login">
                        <i class="fas fa-user fa-lg"></i>
                    </a>
                    <a href="{% url 'account_signup' %}" class="btn call-action rounded-pill px-4 fw-semibold ms-2">
                        Sign Up
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<!-- Shop slider row -->
<div class="shop-slider-wrapper shadow-sm">
    <div class="d-flex flex-row align-items-center pb-4">
        <h6 class="shop-slider-title fw-bold ms-3 mt-4">
            Cool Stuff
        </h6>
        <div class="shop-slider d-flex flex-row flex-nowrap justify-content-center flex-grow-1">
            <a class="btn btn-light mx-1 d-flex flex-column align-items-center bounce-hover" href="{% url 'products_list' %}" title="All Products">
                <span style="font-size:0.75em;">All</span>
                <i class="fas fa-th-large fa-lg mt-2"></i>
            </a>
            <a class="btn btn-light mx-1 d-flex flex-column align-items-center bounce-hover" href="{% url 'products_list' %}?category=T-Shirts" title="T-Shirts">
                <span style="font-size:0.75em;">T-Shirts</span>
                <i class="fas fa-tshirt fa-lg mt-2"></i>
            </a>
            <a class="btn btn-light mx-1 d-flex flex-column align-items-center bounce-hover" href="{% url 'products_list' %}?category=Stickers" title="Stickers">
                <span style="font-size:0.75em;">Stickers</span>
                <i class="fas fa-sticky-note fa-lg mt-2"></i>
            </a>
            <a class="btn btn-light mx-1 d-flex flex-column align-items-center bounce-hover" href="{% url 'products_list' %}?category=Mugs" title="Mugs">
                <span style="font-size:0.75em;">Mugs</span>
                <i class="fas fa-mug-hot fa-lg mt-2"></i>                
            </a>
            <a class="btn btn-light mx-1 d-flex flex-column align-items-center bounce-hover" href="{% url 'products_list' %}?category=Hoodies" title="Hoodies">
                <span style="font-size:0.75em;">Hoodies</span>
                <i class="fas fa-user-astronaut fa-lg mt-2"></i>
            </a>
            <a class="btn btn-light mx-1 d-flex flex-column align-items-center bounce-hover" href="{% url 'products_list' %}?category=Accessories" title="Accessories">
                <span style="font-size:0.75em;">Accessories</span>
                <i class="fas fa-gem fa-lg mt-2"></i>
            </a>
        </div>
    </div>
</div>