<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top py-2">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand fw-bold" href="/">
            <img src="/static/img/logo.png" alt="Logo" width="36" height="36" class="me-2 align-middle" style="object-fit:contain;">
        </a>
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left: Shop dropdown -->
            <ul class="navbar-nav me-3 mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-semibold" href="#" id="navbarDropdownShop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Shop
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownShop">
                        <li><a class="dropdown-item" href="#">All Products</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">T-Shirts</a></li>
                        <li><a class="dropdown-item" href="#">Stickers</a></li>
                        <li><a class="dropdown-item" href="#">Mugs</a></li>
                        <li><a class="dropdown-item" href="#">Hoodies</a></li>
                        <li><a class="dropdown-item" href="#">Accessories</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Center: Search bar -->
            <form class="d-flex mx-auto flex-grow-1" style="max-width: 500px;">
                <input class="form-control rounded-pill px-4" type="search" placeholder="Search for designs, artists, products..." aria-label="Search">
                <button class="btn btn-link ms-n5" type="submit" style="z-index:2;">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <!-- Right: Icons and Sign Up -->
            <div class="d-flex align-items-center ms-auto">
                <a href="#" class="btn btn-link text-dark position-relative me-2" title="Wishlist">
                    <i class="far fa-heart fa-lg"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size:0.7em;">2</span>
                </a>
                <a href="#" class="btn btn-link text-dark position-relative me-2" title="Cart">
                    <i class="fas fa-shopping-cart fa-lg"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark" style="font-size:0.7em;">0</span>
                </a>
                <a href="#" class="btn btn-link text-dark me-2" title="Account">
                    <i class="fas fa-user fa-lg"></i>
                </a>
                <a href="#" class="btn btn-primary rounded-pill px-3 fw-semibold ms-2">
                    Sign Up
                </a>
            </div>
        </div>
    </div>
</nav>
