{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1>404 – Well, This Is Awkward</h1>
            <p>
                Looks like you’ve taken a wrong turn on the Internet. 
                This page either ghosted us, changed its identity, 
                or just doesn’t feel like showing up today.
            </p>
            <p>But hey, since you’re here,
                 why not check out some of our 
                 *actually available* stuff?
            </p>
            <a href="/" class="btn btn-primary">Take Me Back Before I Cry</a>
        </div>
    </div>
</div>
{% endblock %}
