{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row text-center my-2">
        {% if request.GET.q %}
            <h1>Cool stuff we found for:</h1> <strong>{{ request.GET.q }}</strong>
        {% elif request.GET.category %}
            <h1>Because you clearly need more {{ request.GET.category }}</h1>
        {% else %}
            <h1>All the cool stuff in one place</h1>
        {% endif %}      
    </div>
    
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card product-card">
                    {% if product.images.first %}
                        <img id="main-image-{{ product.id }}" src="{{ product.images.first.small_image }}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}                  
                    <!-- color gallery slider -->
                    <div class="d-flex flex-nowrap overflow-auto justify-content-start my-2 ps-3 pe-3" style="gap: 0.5rem;">
                        {% for image in product.images.all %}
                            <img src="{{ image.small_image }}" class="img-thumbnail variant-image" style="width: 50px; height: 50px; cursor:pointer; flex: 0 0 auto;" alt="{{ image.color.name }}" data-product-id="{{ product.id }}" data-image-url="{{ image.small_image }}">
                        {% endfor %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name|truncatechars:25 }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                        <p class="card-text"><strong>Price:</strong> {{ product.price }}€ </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}