{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row text-center my-2">
        {% if request.GET.q %}
            <h1>Cool stuff we found for:</h1> <strong>{{ request.GET.q }}</strong>
        {% elif request.GET.category %}
            <h1>Because you clearly need more {{ request.GET.category }}</h1>
        {% else %}
            <h1>All the cool stuff in one place</h1>
        {% endif %}      
    </div>
    
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if product.images.first %}
                        <img src="{{ product.images.first.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                        <p class="card-text"><strong>Price:</strong> {{ product.price }}€ </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}